assign20.2.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT booklib (book*,pubinfo)>
<!ELEMENT book (author*,title*)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT pubinfo (pcom,vol,pdate)>
<!ELEMENT pcom (#PCDATA)>
<!ELEMENT vol (#PCDATA)>
<!ELEMENT pdate (#PCDATA|month)*>
<!ELEMENT month (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ATTLIST title bksrl CDATA #IMPLIED>
<!ATTLIST author ac CDATA #IMPLIED>
<!ATTLIST author bank CDATA #IMPLIED>
